body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  font-family: cursive;
	
    
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .main {
    width: 420px;
    height: 550px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4g/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background-image: url('../assests/Image\ from\ iOS.jpg');
    animation: fadeIn 1s ease-in-out;
  }
  
  
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
  margin-bottom: 20%;
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    animation: fadeInRight 1s ease-in-out;
    height: 20px;
    margin-top: 40px;
  }
  
  
.sign-input{
	width: 60%;
	height: 20px;
	background: #e0dede8f;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    border-radius: 40px;
}
.signBtn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #003449;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 20px;
	transition: .2s ease-in;
	cursor: pointer;
}
.signBtn:hover{
	background: #0c3879ce;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #003449;
	transform: scale(.6);

}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

input::placeholder {
    color: #080808; 
    }

#languageButton{
    width: 30px;
    background-color:rgba(255, 255, 255, 0);
    margin-right: 50px;
    height: 10px;
}

.forgot-password{
  margin-left: 150px;
  color: #007bff; 

}
.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px; 
}

/*-------------------- validation.html------------------ */

 body {
  font-family: cursive;
  background-color: #f2f2f24f;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.validation-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px; 
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  height: 370px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.valid-title {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: #000;
  margin-top: 1px;
}


.val-input {
  width: 32px;
  height: 32px;
  text-align: center;
  border: none;
  border-bottom: 1.5px solid #0000009d;
  margin: 0 10px;
}

.val-input:focus {
  border-bottom: 1.5px solid rgb(0, 55, 75);
  outline: none;
}
#inputs {
  display: flex;
  justify-content: center; 
  align-items: center; 

  
}

#inputs .val-input {
  margin-right: 5px; 
}

.validation-Btn {
  background-color: #0e275a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  margin-top: 20px;
}


/* ------------------- FirstEnter.html -------------- */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.checkbox-text {
  padding-left: 40px;
}

.custom-checkbox input:checked + .checkbox-custom:after {
  content: '\2713';
  font-size: 18px;
  color: #2196F3;
  position: absolute;
  top: 3px;
  left: 7px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: cursive;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 500px; 
  width: 100%;  
}

.header {
  text-align: center;
}

.input-first-enter {
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
}

.content {
  width: 90%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10px;
}

.app-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.sharing-options p {
  font-size: 14px;
  margin-bottom: 20px;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #000;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkbox-text {
  position: relative;
}

.save-section p {
  font-size: 14px;
  margin-bottom: 20px;
}

.save-section button {
  background-color: #0e275a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  margin-top: 20px;
  width: 200px;
}

.logo {
  width: 150px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}


/* ----------------- home.html ------------------- */

 .search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 20px;
}

.search-box {
  width: 100%;
  max-width: 400px; 
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 400px;
}

#searchInput {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#searchButton {
  background-color: #0e275a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  margin-top: 20px;
  width: 200px;
  margin-left: 105px;
}

.icon-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px; 
  margin-top: 150px;
  margin-left: 60px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
} 
 



/* ----------------------- contact.html ------------------------------ */

.contact-container {
  width: 90%;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

#messageDropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.checkbox-container {
  margin-bottom: 20px;

}

.checkbox-label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

#sendButton {
  background-color: #0e275a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  margin-top: 20px;
  width: 200px;
} 

.choose-msg{
  color:#000;
  font-size: 15px;
}

/* ------------------------------ profile.html------------------------------------------ */

.profile-container {
  width: 80%;
  max-width: 400px; /* Adjust based on your design needs */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-info {
  text-align: left;
  margin-bottom: 20px;
}

.user-info span {
  font-size: 18px;
  display: block; /* Each item on its own line */
  margin-bottom: 10px; /* Spacing between the items */
}

.edit-link {
  font-size: 16px;
  color: blue;
  text-decoration: none;
  margin-left: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.profile-button {
  background-color: #0e275a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  margin-top: 20px;

}


/* ------------------------- verify.html --------------------------------- */

.verification-container {
  width: 90%;
  max-width: 350px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.upload-section {
  margin: 20px 0;
}

.upload-field {
  margin: 10px 0;
}

.upload-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="file"] {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.verification-notice {
  color: rgb(97, 94, 94);
  font-size: 12px;
  margin: 20px 0;
}

.sub-title{
  color: #191d6e;
  font-size: 15px;
}

.done-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}


/*  ----------------------- car.html ------------------------- */

.car-list-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.car-item {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}

.delete-car-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.add-car-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}


/*********** Setting **********************/
.settings-container {
  width: 100%;
  max-width: 400px; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.416);
  border-radius: 20px;
}

.checkbox-container {
  margin-bottom: 10px;
  margin-left: -60px;
  margin-top: 10px;
}

.checkbox-container label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.settings{
  color: #000;
 width:300px;
}