.profile-container {
    width: 80%;
    max-width: 400px; /* Adjust based on your design needs */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .user-info {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .user-info span {
    font-size: 18px;
    display: block; /* Each item on its own line */
    margin-bottom: 10px; /* Spacing between the items */
  }
  
  .edit-link {
    font-size: 16px;
    color: blue;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .profile-button {
    background-color: #0e275a;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:50px;
    margin-top: 20px;
  
  }