.gohome-button {
  font-size: 1.2em; 
  color: #007bff; 
  border: none; 
  background: none; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 50%; 
  transition: transform 0.3s ease, background-color 0.3s ease; 
  text-decoration: none;
  align-self: flex-start;
}

.gohome-button:hover, .gohome-button:focus {
  background-color: #e7f3ff; 
  transform: scale(1.1); 
}


a.gohome-button {
  text-decoration: none; 
  color: inherit; 
}

.profile-container {
  max-width: 100%;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; /* Ensures padding does not affect overall width */
}

.user-info > div {
  margin-bottom: 15px;
}

.user-info label {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  display: block; /* Stack label above the content on small screens */
}

.user-info span {
  color: #555;
}

.user-info input[type="email"],
.user-info input[type="tel"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 100%; /* Full width on small screens */
  margin-bottom: 8px; /* Space for mobile screens */
  display: block; /* Stack inputs on small screens */
}

.user-info button {
  padding: 8px 16px;
  background-color: #007bff;
  margin-top: 2%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%; /* Full width on small screens */
  margin-bottom: 8px; /* Space for mobile screens */
}

.user-info button:hover {
  background-color: #0056b3;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.profile-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.2s ease-in-out;
  width: 100%; /* Full width on small screens */
}

.profile-button:hover {
  background-color: #218838;
}
.logo {
  width: 150px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}

/* Responsive styling for tablets and larger devices */
@media (min-width: 768px) {
  .profile-container {
      max-width: 600px; /* Fixed max width for larger screens */
      padding: 20px;
  }
  .gohome-button {
    padding: 15px; /* Larger padding for a bigger touch area on smaller screens */
}
  .user-info label,
  .user-info input[type="email"],
  .user-info input[type="tel"],
  .user-info button {
      display: inline-block;
      width: auto; /* Auto width for inline elements */
      margin-right: 10px; /* Space between inline elements */
      margin-bottom: 0; /* Remove the margin-bottom for inline elements */
  }

  .user-info button {
      width: fit-content; /* Adjust button width to fit its content on large screens */
  }

  .profile-button {
      width: auto; /* Auto width for inline elements on large screens */
  }
}
